DATABASE_URL= #postgres url for Neon
BETTER_AUTH_SECRET= #A general cryptographically secure string, 32 bytes is good
PUBLIC_MAPBOX_ACCESS_TOKEN=
#These can be any s3 provider. I don't even use backblaze myself, i just have these named this so i didnt have to refactor my references
BACKBLAZE_APPLICATION_KEY=
BACKBLAZE_KEY_ID=
S3_ENDPOINT=
S3_REGION=
S3_BUCKET_NAME=
# the public access url for all your files. this shouldn't require any auth
PUBLIC_S3_PUBLIC_URL=